body {
    color: white;
    background-color: black;
    font-family: 'Orbitron';
    margin-bottom: 50px;
}

header {
    display: flex;
    justify-content: center;
    background-color: #111;
}

main{
    padding-left: 15px;
    padding-right: 15px;
}

#footer_div {
    position: fixed;
    bottom: 0; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    padding: 10px;
    background-color: #111; 
    height: 50px;
}

.plot{
    background-color: #111;
    font-family: 'Orbitron';
}
